/* tab */

.title{
  font-family: sans-serif;
  color: #dc2d5e;
  text-align: center;
}
.tabContainer{
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.tabContainer .buttonContainer{
  height: 15%;
  margin-left: 60px;
}
.tabContainer .buttonContainer button{
  width: 15%;
  margin-right: 10px;
  padding: 10px;
  height: 50%;
  float: left;
  border:2px solid rgb(255, 178, 107);
  border-radius: 50px;
  outline:none;
  cursor: pointer;
  font-size: 18px;
  font-family: kaushan script,cursive;
  background-color:rgb(255, 255, 232);

}
.tabContainer .buttonContainer button:hover{
  background-color: rgb(255, 178, 107);
}
.tabContainer .tabPanel{
  margin-top: 20px;
  /* height: 85%; */
  background-color: gray;
  color: white;
  text-align: center;
  padding-top: 35px;
  /* box-sizing: border-box; */
  font-family: sans-serif;
  /* font-size: 22px; */
  display: none;
}
/* tab */



/* card 2 */

h2,
h3,
p {
margin: 0;
}
.section__2 {
padding: 0px 0px;
}
.container__2 {
margin: 0 auto;
}
.menu-wrapper-styles{
width: 90%;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
gap: 40px;
margin-top: 100px;

}
.card__2 {
position: relative;
max-width: 100%;
width: 17%;
margin-bottom: 30px;
/* margin-right: 25px; */
}
.card__image__2 {
  position: absolute;
  /* width: 225px; */
  width: 200px;
  height: 200px;
  /* height: 225px; */
  border-radius: 120px;
  border: 2px solid black;
  left: -5%;
  top: -8%;
  z-index: 2;
  transition: all 0.3s ease-out;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
}
.card__data__2 {
border-top-right-radius: 50%;
border-top-left-radius: 50%;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
background-color: #ededed;
padding-top: calc(100% * 1.18);
transition: all 0.3s ease-out 0.1s;
color: black;
}
.card__info {
padding: 0 10px;
margin-bottom: 10px;

}
.card__info h2 {
font-size: 20px;
font-weight: 700;
font-family: kaushan script,cursive;
}
.card__info p {
font-size: 14px;
line-height: 17px;
color: #a2a2a2;
font-family: kaushan script,cursive;
}
.card__price {
height: 30px;
padding: 0 10px 0 20px;
font-size: 15px;
opacity: 0.8;
display: flex;
align-items: center;
font-weight: 800;
font-family: kaushan script,cursive;

}
.card__add {
overflow: hidden;
width: 35px;
height: 30px;
right: 0;
bottom: 0;
position: absolute;
background-color: #222222;
border: none;
color: #fff;
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
font-size: 20px;
cursor: pointer;
outline: none;
transition: all 0.3s ease-in;
}
.card__add:hover {
opacity: 0.8;
transform: scale(1.1);
}
.card__add:active {
opacity: 1;
transform: scale(0.8);
}
.card:hover .card__image__2 {
top: -20%;
}
.card:hover .card__data {
transform: translateY(-5px);
box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

/* card 2 */


@media(max-width : 768px){
.tabContainer .buttonContainer{
  display: flex;
  flex-wrap: wrap;
  /* width: 90%; */
  margin-left: auto;
  margin-right: auto;

  
}
.tabContainer .buttonContainer button{
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 15px;
}
.card__2{
    width: 85%;         
}
.card__image__2{
  width: 100%;
  border-radius: 50%;
  height: 70%;
  transform:translateX(4%);
}
.tabContainer .tabPanel{
  margin-top: -75px;
}
}